/*Estilo seccion Lucas Gabas*/

.imgLG{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titleLGCont{
    font-family:'Roboto', sans-serif; ;
    text-align: center;
}

.titleLG{
    font-size: 50px;
    margin-bottom: auto;
}

.subTitleLG{
    font-size: 30px;
    margin-top: auto;
}

.listLG{
    text-align: left;
    padding: 10px;
}

.hrLG1{
    width: 160px;
    text-align: left;
    margin-left: 0%;
    border: solid;
}

.hrLG2{
    width: 160px;
    text-align: left;
    margin-left: 0%;
    border: solid;
}

#asideCont{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

#footerLG{
    display: flex;
    justify-content: space-around;
}