@font-face {
    font-family:LibreBaskerville-Italic;
    src: url(/fonts/LibreBaskerville-Italic.ttf);
 }
 
 /* Estas son las etiquetas para afectar a todo el html, se usa para poner parametros que se utilizaran en todos lados. Por ejemplo que todo este en BordeBox y que el valor de Margin sea igual a 0 para no crear margenes que no quiero */
 *{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif; 
 }

 i{
    color: #34373C;
    text-align: center;
 }
 body{
    font-family: sans-serif;
    padding: 90px 20px 0;
    background-color: #f6f8ee;
 }

 /* Esta parte de el codigo CSS es para el header y el nav, estan desde el logo y el nombre de la empresa hasta las paginas de contacto, servicios, etc */
.header{
    background-color: #abe4ff;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
 }
 .nav{
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Raleway', sans-serif; 
    color: #34373C;
    font-size: 14px;
 }
 .nav-link{
    color: #34373C;
    text-decoration: none;
 }
 .logo{
    width: max-content;
    font-size: 16px;
    padding: 0 40px;
    line-height: 80px;
 }
 .nav-menu{
    display: flex;
    margin-right:40px;
    list-style: none;
 }
 .nav-menu-item{
    font-size: 14px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
 }
 .nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
 }
 /* Esto es un efecto hover para que cuando pasemos el mouse por encima se vea lo que le ponemos hover con un efecto que lo envuelve */
 .nav-menu-link:hover,
 .nav-menu-link-active{
    background-color: #f6f8ee;
    transition: 0.5s;
 }

 /* El nav-toggle corresponde a un menu de hamburgesa que se utiliza cuando una pagina es responsive, es un boton para ocultar y mostrar las opciones de nuestro nav */
 .nav-toggle{
    color: #34373C;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
 }

/* Contenedor vendria siendo la clase de un div que envuelve a nuestro main, es una etiqueta que utilizamos como "caja padre" para darle efectos heredados a las etiquetas que contiene el contenedor */
 .contenedor{
    display: grid;
    flex-direction: column;
    min-height: 100vh; 
    padding: 10px 10px;
    margin: 0 30%;
 }
 .titulo{
    margin-top: 30px;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Raleway', sans-serif; 
    color: #34373C;
    font-size: 36px;
 }
 .titulo2{
    margin-top: 30px;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Raleway', sans-serif; 
    color: #396783;
    font-size: 14px;
    text-transform: uppercase;
 }
 .mas{
    color: #34373C;
    font-size: 14px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
    margin-top: 10px;
    text-decoration: none;
 }
 .parrafo{
    margin-top: 24px;
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
 }

 /* Esta seccion pertenece al pie de pagina o "footer" en especial otro div padre que envuelve o contiene a otras etiquetas dentro de si*/
 .main-footer{
   background-color: #abe4ff;
   height: 80px;
   width: 100%;
   top: 0;
   left: 0;
   margin-top: auto;
}
 .footer{
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 50px 60px;
 }
 .footer-list{
    display: flex;
    margin-right:40px;
    list-style: none;
 }
 /* esta etiqueta es para darle estos atributos a la etiqueta a que representa los links */
 a{
    font-family: 'Libre Baskerville', serif;
    font-family: 'Raleway', sans-serif;
    color: #34373C;
 }

 .footer-item{  
    font-size: 14px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
 }
 .main{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
    flex-direction: column;
 }
 .articulo{
    margin-top: 10px;
 }

 /* Esta parte responde al formulario y todavia esta sin terminar */
.formulario{
    display: flex;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif; 
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}
.label{
    font-size: 14px;
    font-family: sans-serif;

}
/* Esta parte es para la seccion de contactos para quitarle el efecto de hipervinculo a las etiquetas a */
.integrantes{
   text-decoration: none;
}