/*Estilo seccion Tomas Gorriaran */


    

.Nombre{
    color: black;
}
.Contacto{
    color: black;
}
.Conocimiento{
    color: black;
}
.Intereses{
    color: black;
}
.Experiencia{
    color: black;
}


